
	<div class="container" id="login">
		      <figure></figure>
      <figure></figure>
      <figure></figure>
		 <div class="loginbox"><a href="#/" ><img src='/images/lan-logo1.png' style="width:30%;border-radius: 25px;"></a><h1>Connect With Local Gamers Now!</h1>
		 	<h2><i class="fa fa-gamepad"></i></h2>
		 	The social network that is <strong>all about gaming</strong>.<br/>
		 	Meet new friends, discuss your favorites, post about your progress, and more.<br/><br/>

		 	<hr/>

		 	<h2><i class="fa fa-arrow-circle-right"></i> API Documentation</h2>
		 	<br/>
           <table>
			   <tr ng-repeat="item in documentationContent" ng-class-odd="'odd'" ng-class-even="'even'" >
				   <td><i class="fa fa-question-circle"></i></td><td >{{item.content}}</td><td>{{item.example}}<a style="font-weight:bold;font-size:20px" href={{item.link}}>here</a></td>
			   </td></tr>
           </table>
		   <br/>
            <i class="fa fa-arrow-circle-left"></i><a href="#/">Go back</a>
	</div>
    
    
