<!DOCTYPE html>
<html>
<head>
	<title>LAN Social Network - Connecting Gamers</title>
<link href='../css/lan-style.css' rel='stylesheet'>
<link href='../css/font-awesome/css/font-awesome.min.css' rel='stylesheet'>


</head>
<div class='container navbar'>
	<div class="nav-icon">
	<a href="home.html"><img class='nav-icon' src='../images/lan-logo1.png'></a>
	</div>
	<div class='nav-link'>
	<a href='profile.html'>Profile</a>
	</div>
	<div class='nav-link'>
	<a href='friends.html'>Friends</a>
	</div>
	<div class='nav-link'>
	<a href='map.html'>Map</a>
	</div>
	<div class='nav-link'>
	<a href='messages.html'>Messages</a>
	</div>
	<div class='nav-username'>
	Welcome back, <strong>username</strong>!<br/><i class="fa fa-sign-out"></i> <a href="#">Logout</a>
	</div>
</div>
<body>
	<div class='content'>

		<div class='box'>
			<div class="general">
								<h1>Friends</h1>
		<div class="friends">
		
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>
			<div class="latest">
				<img src="../images/default.png" style="border-radius:25px;width:100px"><br><strong>username</strong><br/><button class="lan-btn">View Profile</button>
			</div>


		</div>
	</div>

	</div>

</div>


<script src='../extensions/angular/angular.min.js'></script>
<script src='../extensions/angular/angular-resource.min.js'></script>
<script src='../extensions/angular/route.js'></script>
<script src='../scripts/app.js'></script>
</body>

</html>