
<navbar-directive></navbar-directive>
<body>
	<div class='content'>

		<div class='box user-side'>
			<h1>{{username}}</h1>
			<img ng-src="{{userAvatar}}" class="profile-image" style="border-radius:25px"/><br/><br/>
			Update Your Status:<br/>
			<form>
				<br/>
				<input type="text" class="login-nav" ng-model="newsfeedMessage" placeholder="Comments..." style="height:100px;"><br/>
				<input type="submit" ng-click="postNews()" value="Update" class="lan-btn">
			</form>
		</div>


		<div  class='box'>
			<div  ng-hide="hideNews" class="newsfeed-update" ng-animate="'animate'" ng-repeat="newsItem in newsfeedArray">
				<a href="#/profile/username/{{newsItem.username}}" ><img ng-src={{newsItem.user_avatar}} style="border-radius:25px;width:100px;float:left;margin:10px"></a>
				<h3>{{newsItem.username}} // <em>{{newsItem.status === 0 ? "Offline" : "Online"}}</em></h3>
				
				<em>{{newsItem.message}}</em>
				<button ng-show="isCurrentUser(newsItem.username)" ng-click=deleteNews($index) class="lan-btn">Delete Post</button>
		</div>

	</div>

</div>

