<!DOCTYPE html>
<html>
<head>
<link href='../css/navbar-css.css' rel='stylesheet'>


</head>
<div class='container navbar'>
	<div class="nav-icon">
	<img class='nav-icon' src='../images/lan-logo1.png'>
	</div>
	<div class='nav-link'>
	<a href='#'>Link 1</a>
	</div>
	<div class='nav-link'>
	<a href='#'>Link 2</a>
	</div>
	<div class='nav-link'>
	<a href='#'>Link 3</a>
	</div>
	<div class='nav-username'>
	Username
	</div>
</div>
<body>


<script src='../extensions/angular/angular.min.js'></script>
<script src='../extensions/angular/angular-resource.min.js'></script>
<script src='../extensions/angular/route.js'></script>
<script src='../scripts/app.js'></script>
</body>

</html>