<!DOCTYPE html>
<html>
<head>
	<title>LAN Social Network - Connecting Gamers</title>
<link href='../css/lan-style.css' rel='stylesheet'>
<link href='../css/font-awesome/css/font-awesome.min.css' rel='stylesheet'>


</head>
<body>
	<div class="container" id="login">
		      <figure></figure>
      <figure></figure>
      <figure></figure>
		 <div class="loginbox"><img src='../images/lan-logo1.png' style="width:30%;border-radius: 25px;"><h1>Connect With Local Gamers Now!</h1>
		 	<h2><i class="fa fa-gamepad"></i></h2>
		 	The social network that is <strong>all about gaming</strong>.<br/>
		 	Meet new friends, discuss your favorites, post about your progress, and more.<br/><br/>

		 	<hr/>

		 	<h2><i class="fa fa-arrow-circle-right"></i> Login</h2>

		 	<form>
		 		Username: <input type="text" name="username" class="login-nav"></input><br/>
		 		Password: <input type="text" name="password" class="login-nav"></input><br/>
		 		<input type="submit" value="Login" class="login-nav">
		 	</form>

		 	<br/>

		 	<i class="fa fa-question-circle"></i> Don't have an account?<br/><a href="index.html">Click here to register</a>.<br/><br/>

		 </div>
	</div>
<script src='../extensions/angular/angular.min.js'></script>
<script src='../extensions/angular/angular-resource.min.js'></script>
<script src='../extensions/angular/route.js'></script>
<script src='../scripts/app.js'></script>
</body>

</html>