
	<div class="container" id="login">
		      <figure></figure>
      <figure></figure>
      <figure></figure>
		 <div class="loginbox"><img src='/images/lan-logo1.png' style="width:30%;border-radius: 25px;"><h1>Connect With Local Gamers Now!</h1>
		 	<h2><i class="fa fa-gamepad"></i></h2>
		 	The social network that is <strong>all about gaming</strong>.<br/>
		 	Meet new friends, discuss your favorites, post about your progress, and more.<br/><br/>

		 	<hr/>

		 	<h2><i class="fa fa-arrow-circle-right"></i> Login</h2>

		 	<form>
		 		Username: <input type="text" ng-model="username" class="login-nav"></input><br/>
		 		Password: <input type="password" ng-model="password" class="login-nav"></input><br/>
		 		<button ng-click="login()" class="login-nav">Login</button>
		 	</form>

		 	<br/>

		 	<i class="fa fa-question-circle"></i> Don't have an account?<br/><a href="#/">Click here to register</a>.<br/><br/>

		 </div>
	</div>
