<!DOCTYPE html>
<html>
<head>
	<title>LAN Social Network - Connecting Gamers</title>
<link href='../css/lan-style.css' rel='stylesheet'>
<link href='../css/font-awesome/css/font-awesome.min.css' rel='stylesheet'>


</head>
<navbar-directive></navbar-directive>
<body>
	<div class='content'>
		<div class="box" ng-show="noMessages">
		<em style="color:black;font-weight:bold" >You have no messages at this time</em>	
		</div>
		<div class='box' ng-show="showMessages">
			<div class="newsfeed-update" ng-repeat="message in messages">
				<div style="float:left;padding:10px"><big><strong>From:</big></strong> {{message.sender}}<br/>
				<button class="lan-btn" ng-click="addFriend(message.sender, message.id)">{{message.type === 0 ? "Accept Request" : "Reply"}}</button> <button class="lan-btn">View Profile</button><br/><button class="lan-btn" ng-click="deleteMessage(message.id)">Delete Message</button><br/><br/></div><br/>
				<em>{{message.message}}</em><br/><br/>
		</div>
				
		
	</div>

</div>


<script src='../extensions/angular/angular.min.js'></script>
<script src='../extensions/angular/angular-resource.min.js'></script>
<script src='../extensions/angular/route.js'></script>
<script src='../scripts/app.js'></script>
</body>

</html>