<div class='container navbar'>
	<div class="nav-icon">
	<a href="#/home"><img class='nav-icon' src='../images/lan-logo1.png'></a>
	</div>
	<div class='nav-link'>
	<a href='#/myProfile'>Profile</a>
	</div>
	<div class='nav-link'>
	<a href='#/friends'>Friends</a>
	</div>
	<div class='nav-link'>
	<a href='#/userMap'>Map</a>
	</div>
	<div class='nav-link'>
	<a href='#/messages'>Messages</a>
	</div>
	<div class='nav-username'>
	Welcome back, <strong>{{username}}</strong>!<br/><i class="fa fa-sign-out"></i> <button class="lan-btn" ng-click="logout()">Logout</button>
	</div>
</div>