<!DOCTYPE html>
<html>
<head>
	<title>LAN Social Network - Connecting Gamers</title>
<link href='../css/lan-style.css' rel='stylesheet'>
<link href='../css/font-awesome/css/font-awesome.min.css' rel='stylesheet'>


</head>
<navbar-directive></navbar-directive>
<body>
	<div class='content'>

		<div ng-hide="writingMessage" class='box'>
		<div class="general">
				<h1>User Profile: {{profile.username}}</h1>
			<img ng-src="{{profile.user_avatar}}" style="border-radius:25px;height:150px;width:150px"><br/><br/>

		<strong>Status</strong>:{{profile.status === 0 ? "Offline" : "Online"}}<br/><br/>

		<button ng-hide="isCurrentUser || isCurrentFriend" class="lan-btn" ng-click="sendFriendRequest()">Send Friend Request</button> 
		<button class="lan-btn" ng-hide="isCurrentUser">Send Message</button><br/>
		<button ng-hide="isCurrentUser" class="lan-btn">Delete Friend</button> <br/>
		<br/><br/>

			<strong>Favorite Genres</strong><br/>
			<ol>
				<li>Genre</li>
				<li>Genre</li>
				<li>Genre</li>
				<li>Genre</li>
				<li>Genre</li>
			</ol>
			<br/>

			<strong>Favorite Games</strong><br/>
			<ol>
				<li>Game</li>
				<li>Game</li>
				<li>Game</li>
				<li>Game</li>
				<li>Game</li>
			</ol>
			<br/>

			<strong>Latest Updates</strong>
			<div class="latest">
				Display latest update here. Display latest update here. Display latest update here. Display latest update here. 
			</div>
			<div class="latest">
				Display latest update here. Display latest update here. Display latest update here. Display latest update here. 
			</div>
			<div class="latest">
				Display latest update here. Display latest update here. Display latest update here. Display latest update here. 
			</div>
			<div class="latest">
				Display latest update here. Display latest update here. Display latest update here. Display latest update here. 
			</div>


		</div>

	</div>
	
	<div ng-show="writingMessage" class='box user-side'>
			<h1>To: {{profile.username}}</h1>
			<form>
				<br/>
				<input type="text" class="login-nav" ng-model="newsfeedMessage" placeholder="Let's game sometime!" style="height:100px;"><br/>
				<input type="submit" ng-click="postNews()" value="Update" class="lan-btn">
			</form>
			<br/>
			<hr/>
			<big><big><big><i class="fa fa-user"></big></big></big></i> <a href="profile.html">View Profile</a><br/>
			<big><big><big><i class="fa fa-pencil"></big></big></big></i> <a href="editprofile.html">Edit Profile</a><br/>
			<big><big><big><i class="fa fa-envelope"></big></big></big></i> <a href="messages.html">View Messages</a><br/>
			<big><big><big><i class="fa fa-users"></big></big></big></i> <a href="friends.html">View Friends</a><br/>
			<big><big><big><i class="fa fa-street-view"></big></big></big></i> <a href="map.html">Locate Friends</a><br/><br/>
			<hr/>
			<big><big><big><i class="fa fa-sign-out"></big></big></big></i> <a href="#">Logout</a>
			<br/>

		</div>

</div>


<script src='../extensions/angular/angular.min.js'></script>
<script src='../extensions/angular/angular-resource.min.js'></script>
<script src='../extensions/angular/route.js'></script>
<script src='../scripts/app.js'></script>
</body>

</html>