<!DOCTYPE html>
<html>
<head>
	<title>LAN Social Network - Connecting Gamers</title>
<link href='../css/lan-style.css' rel='stylesheet'>
<link href='../css/font-awesome/css/font-awesome.min.css' rel='stylesheet'>


</head>
<navbar-directive></navbar-directive>
<body>
	<div class='content'>

		<div class='box'>
		<div class="general">
				<h1>User Profile: {{profile.username}}</h1>
			<img src="../images/default.png" style="border-radius:25px"><br/><br/>

		<strong>Status</strong>: online/offline<br/><br/>

		<button class="lan-btn">Add Friend</button> <button class="lan-btn">Send Message</button><br/><button class="lan-btn">Delete Friend</button> <br/>
		(these won't display on user's own profile)<br/><br/>

			<strong>Favorite Genres</strong><br/>
			<ol>
				<li>Genre</li>
				<li>Genre</li>
				<li>Genre</li>
				<li>Genre</li>
				<li>Genre</li>
			</ol>
			<br/>

			<strong>Favorite Games</strong><br/>
			<ol>
				<li>Game</li>
				<li>Game</li>
				<li>Game</li>
				<li>Game</li>
				<li>Game</li>
			</ol>
			<br/>

			<strong>Latest Updates</strong>
			<div class="latest">
				Display latest update here. Display latest update here. Display latest update here. Display latest update here. 
			</div>
			<div class="latest">
				Display latest update here. Display latest update here. Display latest update here. Display latest update here. 
			</div>
			<div class="latest">
				Display latest update here. Display latest update here. Display latest update here. Display latest update here. 
			</div>
			<div class="latest">
				Display latest update here. Display latest update here. Display latest update here. Display latest update here. 
			</div>


		</div>

	</div>

</div>


<script src='../extensions/angular/angular.min.js'></script>
<script src='../extensions/angular/angular-resource.min.js'></script>
<script src='../extensions/angular/route.js'></script>
<script src='../scripts/app.js'></script>
</body>

</html>